Repository Mist54/WorkMate, pull requests merged in 2025-06, with the labels that each got.

#4 Update multiple NuGet packages to latest stable versions
  Content/bootstrap-grid.css
  Content/bootstrap-grid.css.map
  Content/bootstrap-grid.min.css
  Content/bootstrap-grid.min.css.map
  Content/bootstrap-grid.rtl.css
  Content/bootstrap-grid.rtl.css.map
  Content/bootstrap-grid.rtl.min.css
  Content/bootstrap-grid.rtl.min.css.map
  Content/bootstrap-reboot.css
  Content/bootstrap-reboot.css.map
  Content/bootstrap-reboot.min.css
  Content/bootstrap-reboot.min.css.map
  Content/bootstrap-reboot.rtl.css
  Content/bootstrap-reboot.rtl.css.map
  Content/bootstrap-reboot.rtl.min.css
  Content/bootstrap-reboot.rtl.min.css.map
  Content/bootstrap-utilities.css
  Content/bootstrap-utilities.css.map
  Content/bootstrap-utilities.min.css
  Content/bootstrap-utilities.min.css.map
  Content/bootstrap-utilities.rtl.css
  Content/bootstrap-utilities.rtl.css.map
  Content/bootstrap-utilities.rtl.min.css
  Content/bootstrap-utilities.rtl.min.css.map
  Content/bootstrap.css
  Content/bootstrap.css.map
  Content/bootstrap.min.css.map
  Content/bootstrap.rtl.css
  Content/bootstrap.rtl.css.map
  Content/bootstrap.rtl.min.css
  Content/bootstrap.rtl.min.css.map
  Scripts/bootstrap.bundle.js
  Scripts/bootstrap.bundle.js.map
  Scripts/bootstrap.bundle.min.js.map
  Scripts/bootstrap.esm.js
  Scripts/bootstrap.esm.js.map
  Scripts/bootstrap.esm.min.js
  Scripts/bootstrap.esm.min.js.map
  Scripts/bootstrap.js
  Scripts/bootstrap.js.map
  Scripts/bootstrap.min.js.map
  Scripts/jquery.validate-vsdoc.js
  Scripts/jquery.validate.js
  Scripts/jquery.validate.min.js
  Scripts/jquery.validate.unobtrusive.js
  Scripts/jquery.validate.unobtrusive.min.js
  Web.config
  WorkMate.csproj
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  packages.config
Labels: adhi, feature, develop

#6 ci(workflow): Configure automated PR labeling and quality checks
  .commit-check.yml
  .github/labeler.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-check.yml
Labels: adhi, feature, develop

#7 ci: Update GitHub Actions workflow
  .commit-check.yml
  .github/labeler.yml
  .github/workflows/commit-message-check.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-check.yml
Labels: main

#9 fix: SRJ package changes and updates
  Web.config
  WorkMate.csproj
  packages.config
Labels: develop
